# Ignore all compiled Python files in all directories
**/*.pyc
**/*:Zone.Identifier

# Ignore additional files and directories
__pycache__/
__additional
.vscode/*

# test_*.py amn ini_*.py and some other should be kept
!**/test_*.py
!**/ini_*.py

!P5/trees/tree_nodes.py
!P5/trees/drawtree.py

!P6/gotoh.py
!P6/mm.py

# Ignore any folder named "Files" anywhere - They contain huge fasta or so files
**/Files/

# Bioinformatics / Biology Files
*.fastq 
*.fq 
*.fastq.gz 
*.fq.gz 
*.bam 
*.sam 
*.cram 
*.bai 
*.crai 
*.fai 
*.mmi 
*.bt2 
*.ebwt 
*.vcf 
*.vcf.gz 
*.bcf 
*.fa 
*.fasta 
*.fna 
*.faa 
*.fa.gz
*.fasta.gz 
*.bed 
*.wig 
*.bigwig 
*.bedgraph 
*.gff 
*.gtf 
*.tsv 
*.csv 
*.log 
*.out 
*.err 
*.tmp 
*.gz 
*.zip 
*.tar 
*.tar.gz
__pycache__/ 
*.pyc 
*.pyo 
.Rhistory 
.RData 
.Rproj.user/